# **Python Data Types**


---

Data types determine the type of value a variable can hold and the operations that can be performed on it. They define the format, structure, size, range, and behavior of data, controlling how it's stored and used in a program. This helps ensure data is used correctly and efficiently.

![Python-Data-Types.webp]()

# **1. Numeric Types**
Python has three main numeric types:

##a. Integer (int)
Whole numbers, positive or negative, without decimals.

In [ ]:
num_int: int = 42

print(type(num_int)," num_int = ",num_int,)  # <class 'int'>

<class 'int'>  num_int =  42

##b. Floating-Point (float)
Numbers with decimal points.

In [ ]:
num_float: float = 3.14
#num_float: float = .14

print(type(num_float), " num_float = ", num_float)  # <class 'float'>

<class 'float'>  num_float =  0.14

##c. Complex (complex)
Numbers with a real and imaginary part.

In [ ]:
num_complex: complex = 2 + 3j

print(type(num_complex), " num_complex = ", num_complex)  # <class 'complex'>

<class 'complex'>  num_complex =  (2+3j)

## **Accessing Real and Imaginary Parts**
Python provides attributes .real and .imag to extract the real and imaginary parts of a complex number.

*(Contributor: Areeba Zafar from Karachi)*

In [ ]:
z = 3 + 4j

print("Real Part:", z.real)   # Output: 3.0
print("Imaginary Part:", z.imag)  # Output: 4.0

Real Part: 3.0
Imaginary Part: 4.0

# **2. Boolean (bool)**
Represents True or False.

In [ ]:
is_python_fun: bool = True #False

print(type(is_python_fun), " is_python_fun = ", is_python_fun)  # <class 'bool'>

<class 'bool'>  is_python_fun =  True

# **3. Sequence Types**
These store multiple items in an ordered way.

##a. String (str)
A sequence of characters enclosed in quotes.

In [ ]:
text_double: str  = "Hello, Python!" # Strings with Double Quotes (")
text_single: str  = 'Hello, Python!' # Strings with Single Quotes (')
text_multi: str   = '''Hello, Python!''' # Multi-Line Strings with Triple Quotes (''' or """)
text_multi_1: str = """Hello, Python!""" # Multi-Line Strings with Triple Quotes (''' or """)

print(type(text_double), " text_double   = ", text_double)    # <class 'str'>
print(type(text_single), " text_single   = ", text_single)    # <class 'str'>
print(type(text_multi), " text_multi    = ", text_multi)      # <class 'str'>
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)  # <class 'str'>

<class 'str'>  text_double   =  Hello, Python!
<class 'str'>  text_single   =  Hello, Python!
<class 'str'>  text_multi    =  Hello, Python!
<class 'str'>  text_multi_1  =  Hello, Python!

##Key Takeaways
- Double Quotes ("): Use when the string contains single quotes.
- Single Quotes ('): Use when the string contains double quotes.
- Triple Quotes (''' or """): Use for multi-line strings or docstrings.

<br>

Understanding these variations allows you to `write cleaner, more readable, and error-free code`. As you progress in Python, you‚Äôll find that strings are incredibly powerful, especially when combined with string methods, formatting, and manipulation techniques.

##b. List (list)
An ordered, mutable collection.

In [ ]:
my_list_1: int = [1, 2, 3, "Java", 3.14, True] #Type hinting is not enforced in python, but you should mention appropriate data type in this case 'list'
my_list: list = [1, 2, 3, "Python", 3.14, 3+2j]

print(type(my_list_1), " my_list_1 = ", my_list_1)  # <class 'list'>
print(type(my_list), " my_list   =  " + str(my_list)) # we will look into type casting in classes ahead

<class 'list'>  my_list_1 =  [1, 2, 3, 'Java', 3.14, True]
<class 'list'>  my_list   =  [1, 2, 3, 'Python', 3.14, (3+2j)]

##c. Tuple (tuple)
An ordered, immutable collection.

In [ ]:
my_tuple: tuple = (1, 2, 3, "AI", 2.71, False, .3 , 3+2j )
print(type(my_tuple), " my_tuple = ", my_tuple )  # <class 'tuple'>

<class 'tuple'>  my_tuple =  (1, 2, 3, 'AI', 2.71, False, 0.3, (3+2j))

## d. Range (range)
Represents a sequence of numbers.

In [ ]:
num_range: range = range(1, 10, 2) # range(start, stop, step)
print(type(num_range), " num_range = ", num_range.step)  # <class 'range'>

<class 'range'>  num_range =  2

In [ ]:
for i in range(1, 10, 2): # we will study loops indepth in classes ahead
  print(i)

1
3
5
7
9

# **4. Set Types**
`(We will cover this indepth in classes ahead)`

Unordered collections with unique elements.

## a. Set (set)
`Mutable`, `unordered`, and contains `unique values`.

In [ ]:
my_set: set = {1, 2, 33, 4, 4, 5}
print(type(my_set), "my_set = ", my_set)  # <class 'set'>

<class 'set'> my_set =  {1, 2, 33, 4, 5}

## b. Frozen Set (frozenset)
Immutable version of a set.

In [ ]:
frozen_set = frozenset([11, 2, 3, 4, 4, 5])
#frozen_set = frozenset(my_set)
print(type(frozen_set), " frozen_set = ", frozen_set)  # <class 'frozenset'>

<class 'frozenset'>  frozen_set =  frozenset({1, 2, 33, 4, 5})

# **5. Mapping Type**

Dictionary (dict)
Stores key-value pairs.

In [ ]:
my_dict: dict = {"name": "Alice", "age": 25, "language": "Python"}
print(type(my_dict)," my_dict = ", my_dict )  # <class 'dict'>

<class 'dict'>  my_dict =  {'name': 'Alice', 'age': 25, 'language': 'Python'}

# **6. Binary Types**
In Python, binary types are used to handle binary data, such as raw bytes, binary files, or data exchanged over networks. Binary types are distinct from text types (str) and are specifically designed to represent and manipulate sequences of bytes. Python provides three built-in binary types:

<br>

## a. Bytes (bytes)

1.  **Definition**: An immutable sequence of bytes.

2.  **Purpose**: Used to represent binary data, such as byte sequences coming from files, network communications, or raw data.

3.  **Key Points**:
    * A bytes object is immutable, meaning you cannot modify its content after creation.
    * It is often used when you need to work with fixed binary data.
    * Literal syntax: b"..." or b'...'.

In [ ]:
byte_data: bytes = b"Hello"
print(type(byte_data), " byte_data = ", byte_data)  # <class 'bytes'>

<class 'bytes'>  byte_data =  b'Hello'

### **Its just an example to give you feel about how to work with binary data.**

`We will learn more about file handling in classes ahead.`

In [ ]:
# Open an image file in binary mode
with open("Apollo11.jpg", "rb") as image_file:
    image_data = image_file.read()

print(image_data)

In [ ]:
with open("Apollo11.jpg", "rb") as source_file:
    data = source_file.read()

# Write the binary data to a new image file
with open("copy.jpg", "wb") as target_file:
    target_file.write(data)

print("Image copied successfully!")

Image copied successfully!

## b. Bytearray (bytearray)

1.  **Definition**: A mutable sequence of bytes.

2.  **Purpose**: Like bytes, but allows modification of its content.

3.  **Key Points**:
    * You can modify the content of a bytearray object in place.
    * Suitable for cases where you need to update or manipulate binary data frequently.
    * Literal syntax: Does not have direct literal syntax (must use bytearray() constructor).



### **1Ô∏è‚É£ Number Systems** (Decimal, Binary, Octal, Hexadecimal)
Number systems ka matlab hai, alag-alag tareeqay se numbers ko likhna. Python mein 4 main number systems use hote hain:

---

### **1. Decimal (Base 10)**:
- **Decimal** system wo hai jo hum sabhi daily life mein use karte hain.
- Ismein **10 digits** hotay hain: `0, 1, 2, 3, 4, 5, 6, 7, 8, 9`
- **Base 10** ka matlab hai, har digit ka value 10 ke powers ke hisaab se hota hai.

**Example**:  
`345` ko samajhne ka tareeqa:

```
345 = (3 * 10^2) + (4 * 10^1) + (5 * 10^0)
```

### Code Example:
```python
decimal_number = 345
print(decimal_number)  # Output: 345
```

---

### **2. Binary (Base 2)**:
- **Binary** system ka use computer mein hota hai. Ismein sirf **2 digits** hotay hain: `0` aur `1`.
- Har digit ka value power of 2 hota hai.

**Example**:
```
1011 (binary) = (1 * 2^3) + (0 * 2^2) + (1 * 2^1) + (1 * 2^0) = 11 (decimal)
```

**Code Example**:
```python
binary_number = 0b1011  # 0b ka matlab binary number
print(binary_number)  # Output: 11 (decimal mein)
```

---

### **3. Octal (Base 8)**:
- **Octal** system mein **8 digits** hotay hain: `0, 1, 2, 3, 4, 5, 6, 7`.
- Base 8 ka matlab hai, har digit ka value power of 8 hota hai.

**Example**:
```
17 (octal) = (1 * 8^1) + (7 * 8^0) = 15 (decimal)
```

**Code Example**:
```python
octal_number = 0o17  # 0o ka matlab octal number
print(octal_number)  # Output: 15 (decimal mein)
```

---

### **4. Hexadecimal (Base 16)**:
- **Hexadecimal** system mein **16 digits** hotay hain: `0-9` aur `A-F` (A=10, B=11, C=12, etc.).
- Base 16 ka matlab hai, har digit ka value power of 16 hota hai.

**Example**:
```
1F (hexadecimal) = (1 * 16^1) + (F * 16^0) = 31 (decimal)
```

**Code Example**:
```python
hexadecimal_number = 0x1F  # 0x ka matlab hexadecimal number
print(hexadecimal_number)  # Output: 31 (decimal mein)
```

---

### **2Ô∏è‚É£ ASCII (American Standard Code for Information Interchange)**
- **ASCII** ek standard hai jisme har character ko ek unique number diya jata hai.
- Ismein **128 characters** hote hain, jisme English alphabets (`A-Z`, `a-z`), numbers (`0-9`), aur special symbols (`!`, `@`, `#`, etc.) hote hain.

**Example**:  
- `A` ka **ASCII value** **65** hota hai.
- `B` ka **ASCII value** **66** hota hai.

**Code Example**:
```python
char = 'A'
ascii_value = ord(char)  # ord() function se hum character ka ASCII value lete hain
print(ascii_value)  # Output: 65
```

Agar hum **ASCII value ko character mein convert karna** chahte hain, to `chr()` function use karte hain.

```python
ascii_value = 65
char = chr(ascii_value)  # chr() function se hum ASCII value ko character mein convert karte hain
print(char)  # Output: 'A'
```

---

### **3Ô∏è‚É£ Unicode**
- **Unicode** ek universal system hai jisme har language ke characters (jaise Urdu, Hindi, Chinese) aur symbols ko ek unique number diya jata hai.
- Isme bohot zyada characters hote hain, na sirf English ke, balkay har language ke.

**Example**:
- `A` ka **Unicode value** bhi **65** hota hai.
- Emoji `üòä` ka **Unicode value** **128522** hota hai.

**Code Example**:
```python
char = 'üòä'
unicode_value = ord(char)  # Unicode value of the emoji
print(unicode_value)  # Output: 128522
```

---

### **Summary in Simple Words:**
- **Decimal**: Humara normal number system, jo hum roz use karte hain (`0-9`).
- **Binary**: Sirf `0` aur `1` ka use hota hai, computers isko samajhte hain.
- **Octal**: `0-7` ka use hota hai, purane systems mein hota tha.
- **Hexadecimal**: `0-9` aur `A-F` ka use hota hai, computers mein zyada hota hai.

- **ASCII**: Har English character ka ek number hota hai.
- **Unicode**: Har language aur symbol ka ek number hota hai, jaise emojis, Arabic, etc.

## **Number Systems**

* **ASCII**:

  The American Standard Code for Information Interchange (ASCII) is a character encoding standard that represents text in computers using numeric codes. It maps 128 characters (letters, digits, punctuation, and control characters) to values from 0 to 127.

* **Decimal**:

  The decimal system is the standard numerical system used in everyday life, based on 10 digits (0 through 9). It's a base-10 system, where each digit's position represents a power of 10.

* **Hexadecimal**:

  The hexadecimal system is a base-16 numbering system, using 16 symbols: 0‚Äì9 to represent values 0 to 9, and A‚ÄìF (or a‚Äìf) to represent values 10 to 15. It's widely used in computing for compact representation of binary data.

* **Octal**:

  The octal system is a base-8 numbering system, using digits 0 through 7. It was more commonly used in older computer systems and is still occasionally used in modern computing, especially for file permissions in Unix/Linux.

* **Binary**:

  The binary system is a base-2 numbering system that uses only two digits: 0 and 1. It's the fundamental language of computers, where each binary digit (bit) represents a state of off or on.

<br>

### **What is a Base in Number Systems?**

A base (or radix) in a number system refers to the number of **`unique digits`** (including zero) used to represent numbers. It defines how place values are assigned to digits in a numeral.

<br>

[ASCII, decimal, hexadecimal, octal, and binary conversion table](https://www.ascii-code.com/ASCII)

In [ ]:
byte_array: bytearray = bytearray([65, 66, 67, 69]) #65=A, 66=B ....decimal number system
print(type(byte_array), " byte_array = ", byte_array)  # <class 'bytearray'>
print(byte_array[0])
print(chr(byte_array[0]))
print("Empty bytearray(): ",bytearray())

<class 'bytearray'>  byte_array =  bytearray(b'ABCE')
65
A
Empty bytearray():  bytearray(b'')

### **What is UTF-8?**

UTF-8 (8-bit Unicode Transformation Format) is a variable-length character encoding that can represent every character in the Unicode standard. It is designed for efficiency and compatibility:

In [ ]:
byte_array: bytearray = bytearray([65, 66, 67, 69])
# Converting the entire bytearray to a string using decode()
print("Decoded string: ", byte_array.decode('utf-8'))  # Output: ABCE

Decoded string:  ABCE

In [ ]:
# Creating a bytearray object
ba: bytearray = bytearray(b"hello")
print("Before: ba = ", ba)

# Modifying the bytearray
ba[0] = 72  # ASCII value of 'H'

print("After: ba = ",ba)  # Output: bytearray(b'Hello')

Before: ba =  bytearray(b'hello')
After: ba =  bytearray(b'Hello')



---

## üî• Sawal:  
> Jab data `utf-8` me encode hota hai, kya wo **hexadecimal** me hota hai?

### ‚úÖ **Jawab: Haan!**

Jab text ko tum `utf-8` me encode karte ho, to wo **bytes** me convert hota hai ‚Äî aur wo bytes **hexadecimal format** me show ho sakte hain.

---

### üß† But, actual cheez kya hoti hai?

- Computer text ko `utf-8` se **bytes** me convert karta hai (numbers).
- Bytes ko jab print karte ho, to **hex form** me dikhaya jata hai (jaise: `\xd8\xb3`)

---

### ‚úÖ Example Samjho:

```python
text = "ÿ≥ŸÑÿßŸÖ"
encoded = text.encode("utf-8")

print(encoded)
```

#### Output:
```
b'\xd8\xb3\xd9\x84\xd8\xa7\xd9\x85'
```

### üßæ Toh yeh kya hai?

Yeh sab `\x...` wale parts **hexadecimal values** hain.

---

### üìå Hexadecimal kya hota hai?

Hexadecimal = Base 16  
Matlab: `0 1 2 3 4 5 6 7 8 9 A B C D E F`

Computer `utf-8` bytes ko **hex digits** me dikhata hai for readability.

---

### üéØ Agar tum chaho ke clearly hex dekho:

```python
for byte in encoded:
    print(hex(byte))
```

#### Output:
```
0xd8
0xb3
0xd9
0x84
0xd8
0xa7
0xd9
0x85
```

---

### üí° Summary:

| Step            | Result                          |
|------------------|----------------------------------|
| Text             | `"ÿ≥ŸÑÿßŸÖ"`                         |
| UTF-8 Encode     | Bytes (`b'\xd8\xb3\xd9\x84...'`) |
| Bytes Format     | Hexadecimal                     |

---

## c. Memoryview (memoryview)

The memoryview object in Python provides an efficient way to work with binary data by allowing you to access and manipulate the memory of another object (like bytes or bytearray) without copying the data. This is particularly useful when working with large datasets or binary streams, as it avoids the overhead of creating additional copies.

In [ ]:
mem_view: memoryview = memoryview(b"Operation Badar")
print(type(mem_view), " mem_view = ", mem_view)  # <class 'memoryview'>
print(bytes(mem_view[0:]))
print( mem_view[6:11] ) #cast it to byte otherwise it will show memory address

<class 'memoryview'>  mem_view =  <memory at 0x7d294da28b80>
b'Opera'
<memory at 0x7d294da28f40>



---

## üß† `memoryview` Kya Hota Hai Python Me?

### üì¶ Socho tumhare paas ek **bohot bara data** hai (jaise image ya bytes ka data)  
Agar tum baar baar us data ko copy karoge, to:

- Memory zyada use hogi üíæ  
- Speed slow ho sakti hai üêå

### üî• **`memoryview`** ek aisi cheez hai jo:
- Data ko **copy kiye bagair** use karta hai
- Direct memory ko **"view"** karta hai (isliye naam hai: memoryview üòÑ)
- Fast processing ke liye use hota hai

---

### ‚úÖ Simple Example:

```python
data = bytearray("Hello", "utf-8")  # yeh ek bytes array hai

view = memoryview(data)  # yeh copy nahi karega, sirf view dega

print(view[0])       # Output: 72 ‚Üí (yeh "H" ka ASCII number hai)
print(bytes(view))   # Output: b'Hello'
```

---

### üß™ Thoda aur dekhte hain:

```python
data[0] = 74  # "H" ‚Üí "J" (kyunki 72 ‚Üí 74 means J)

print(bytes(view))  # Output: b'Jello'
```

‚ùó **Note:** `memoryview` se agar original data change ho, to view bhi update ho jata hai ‚Äî **kyunki yeh real data ko hi point karta hai.**

---

### üìå Real-life use case:

Agar tum image, audio ya network data ke saath kaam kar rahe ho:
- Aur tum chahte ho ke data baar baar copy na ho
- Sirf usi pe kaam ho jo memory me already hai  
Tab `memoryview` bohot helpful hota hai.

---

### üß† Ek line me yaad rakho:

> **memoryview** allows you to work with large binary data **without copying it** ‚Äî directly from memory! ‚ö°

---

**None Data Type in Python**
==========================

In Python, `None` is a special data type that represents the absence of a value or a null object reference. It is a `singleton object`, meaning that there is `only one instance` of `None` in the entire Python environment.

* **No value**: `None` represents the absence of a value or a null object reference.



---

## üß† `None` Data Type in Python ‚Äî Step by Step

### üî∏ Kya hota hai `None`?
- Python me `None` ek **special value** hai.
- Yeh matlab hota hai: **"kuch bhi nahi", ya "value abhi set nahi hui"**
- Yeh ek **singleton** object hai ‚Üí pure Python program me sirf **ek hi `None`** hota hai.

---

### ‚úÖ Code Breakdown:

```python
x: str = None
y: str = None
z: str = x
```

#### üëâ Iska matlab:
- `x` me koi value nahi ‚Äî sirf `None`
- `y` me bhi `None`
- `z` me `x` ki value rakhi gayi ‚Üí yaani `None`

---

### üîç Step by Step Output aur Explanation:

```python
print(type(x))  
```
üìå Output: `<class 'NoneType'>`  
**Explanation:** `None` ka type hota hai `NoneType`. Yeh Python ka ek built-in type hai.

---

```python
print("value of x = " + str(x) )
```
üìå Output: `value of x = None`  
**Explanation:** Hum `x` me `None` rakhe thay, aur `str(x)` usay string bana kar print karta hai.

---

```python
print("x == y = ", x == y)
```
üìå Output: `True`  
**Explanation:** `==` check karta hai **values**, aur dono me `None` hai ‚Üí isliye `True`.

---

```python
print("id(x) = ", id(x))
print("id(y) = ", id(y))
print("id(z) = ", id(z))
```

üìå Output (numbers vary karenge):  
```
id(x) = 140734378263120  
id(y) = 140734378263120  
id(z) = 140734378263120
```

**Explanation:**  
- `id()` ek unique number return karta hai jo memory address show karta hai.
- `x`, `y`, `z` sab me `None` hi hai ‚Üí isliye unka `id()` same hai.

---

```python
print("x is y = ", x is y)
print("x is z = ", x is z)
```

üìå Output:
```
x is y = True  
x is z = True
```

**Explanation:**  
- `is` check karta hai **object identity** ‚Üí kya dono variables **same memory** ko point kar rahe hain?
- `None` Python me ek hi object hai ‚Üí isliye sabka reference same hai ‚Üí result: `True`

---

```python
print("id(x) is id(z) = ", id(x) is id(z))  # False
```

üìå Output: `False ‚ùå`  
**Explanation:**  
Yeh thoda tricky hai üòÑ  
- `id(x)` aur `id(z)` values to same hain (jaise: `123456`), **lekin** `is` operator check karta hai:  
  > "Kya `id(x)` aur `id(z)` **exact same object** hain?"  
  Yahan `id(x)` ek number hai, aur `id(z)` bhi ek number hai ‚Äî lekin **do alag integers**.

üëâ Python sometimes makes **new integer objects** even with same value ‚Üí isliye `False`.

---

```python
print("id(x) == id(z) = ", id(x) == id(z))  # True ‚úÖ
```

üìå Output: `True`  
**Explanation:**  
- `==` sirf values compare karta hai.
- Dono IDs ka number same hai, to `True`.

---

### ‚úÖ Final Notes:

| Operator | Kya karta hai? | Example | Result |
|----------|----------------|---------|--------|
| `==`     | Value compare   | `x == y` | `True` |
| `is`     | Memory identity | `x is y` | `True` |
| `id()`   | Memory address  | `id(x)`  | eg. `12345678` |

---

### üéØ Summary (asaani version):

- `None` = "kuch bhi nahi"  
- Sirf ek hi `None` hota hai Python me  
- `==` check karta hai value  
- `is` check karta hai memory location  
- `id()` se memory address milta hai

---

In [1]:
x: str = None
y: str = None
z: str = x

#display the data type of x:
print(type(x))
print("value of x = " + str(x) )
print("x == y = ", x == y)
print("id(x) = ", id(x))
print("id(y) = ", id(y))
print("id(z) = ", id(z))
print("x is y = ", x is y)
print("x is z = ", x is z)
print("id(x) is id(z) = ", id(x) is id(z)) # False :( why? you will get the answer in topic 'Integer Literals in Python'
print("id(x) == id(z) = ", id(x) == id(z)) # True
'''
In Python, `==` is the equality operator, which checks if the values of two objects are equal.
On the other hand, `is` is the identity operator, which checks if two objects are the same object in memory.
'''

<class 'NoneType'>
value of x = None
x == y =  True
id(x) =  140708611697808
id(y) =  140708611697808
id(z) =  140708611697808
x is y =  True
x is z =  True
id(x) is id(z) =  False
id(x) == id(z) =  True

'\nIn Python, `==` is the equality operator, which checks if the values of two objects are equal.\nOn the other hand, `is` is the identity operator, which checks if two objects are the same object in memory.\n'

In [ ]:
print("None is None            = ", None is None) # True
print("None == None            = ", None == None) # True
print("None == x               = ", None == x)
print("None is x               = ", None is x)
print("id(None) is id(None)    = ", id(None) is id(None)) # 'is' check memory space sharing
#If number is out of integer literal range -5 to 256 then even the same number are considered as seprate object

None is None            =  True
None == None            =  True
None == x               =  True
None is x               =  True
id(None) is id(None)    =  False


---

## üß† Pehle samjho:
```python
id(x)
id(z)
```
Yeh dono **`id()` function** ko call kar rahe hain ‚Äî jo ek **number** (integer) return karta hai ‚Üí memory address.

Ab dekho:

```python
print(id(x) == id(z))  # ‚úÖ True
print(id(x) is id(z))  # ‚ùå False
```

To question hai:

> üß® Jab `id(x) == id(z)` True hai...  
> to `id(x) is id(z)` kyun False hai?

---

## üîç Jawab: Yeh `is` ka game hai!

### üí• Point 1: `==` vs `is`

| Operator | Kaam kya karta hai?             |
|----------|----------------------------------|
| `==`     | **Value** compare karta hai      |
| `is`     | **Object identity** compare karta hai (kya dono variables ek hi object ko point kar rahe hain?)

---

### üí° Point 2: `id(x)` aur `id(z)` kya return karta hai?

Yeh dono **integers return** karte hain, jaise:

```python
id(x)  ‚Üí  12345678  (ek naya integer object)
id(z)  ‚Üí  12345678  (dusra naya integer object with same value)
```

Ab jab tum `id(x) is id(z)` likhte ho:

- Dono **integers** ka value same hai (`==` ‚Üí True)
- Lekin wo **do alag objects** hain (`is` ‚Üí False)

---

### üß™ Prove karna chahte ho? Yeh dekho:

```python
a = 1000
b = 1000

print(a == b)  # True
print(a is b)  # False ‚Üí kyun? kyunki 1000 alag objects hain
```

Python me **small integers (-5 to 256)** ko memory me reuse kiya jata hai ‚Äî **us range ke andar `is` True de sakta hai**, baaqi values ke liye nahi.

---

### ‚úÖ Real-World Analogy:

Socho:

```python
id(x) ‚Üí ek slip jis pe likha hai: 12345  
id(z) ‚Üí doosri slip, usi pe likha hai: 12345  
```

- Dono slips ka **content same hai** ‚Üí `==` True  
- Lekin slips **alag hain** ‚Üí `is` False

---

### üîö Summary:

| Expression         | Kya karega?                     | Result |
|--------------------|----------------------------------|--------|
| `id(x) == id(z)`   | Dono numbers same hain?         | ‚úÖ True |
| `id(x) is id(z)`   | Dono number objects ek hi hain? | ‚ùå False |

---

**id() Function in Python**
==========================

The `id()` function in Python returns the `unique identifier` for an `object`. This identifier is a small integer that is unique among all objects currently in existence of your python environment.

**What is the Purpose of id()**
-----------------------------

The `id()` function is used to:

* **Identify objects**: The `id()` function returns a `unique identifier` that can be used to identify objects in memory.
* **Check object equality**: By checking the `id()` of two objects, you can determine if they are the `same object in memory`.
* **Debugging**: The `id()` function can be useful for debugging purposes, such as identifying which object is being referenced by a variable.

In [ ]:
print("""Variable x, y & z have 'None' value, as we know that 'None' is a singleton object,
meaning that there is only one instance of `None` in the entire Python environment.
So the id(x), id(y) & id(z) represents the same object id in memory.\n""")

x: str = None
y: str = None
z: str = x

print("ID of variable x  = " + str(id(x)))
print("ID of variable y  = " + str(id(y)))
print("ID of variable z  = " + str(id(z)))

print("\nIs variable x & y shares the same memory space? \nThe answer is: " + str(id(x) == id(y)))

Variable x, y & z have 'None' value, as we know that 'None' is a singleton object,
meaning that there is only one instance of `None` in the entire Python environment.
So the id(x), id(y) & id(z) represents the same object id in memory.

ID of variable x  = 9691392
ID of variable y  = 9691392
ID of variable z  = 9691392

Is variable x & y shares the same memory space?
The answer is: True

**False in a boolean context**: `None` is considered `False` in a boolean context, meaning that it can be used in conditional statements.

In [ ]:
if(None):
  print("if block: This line of code will not execute because in Python 'None' is considered False")
else:
  print("else block: As None is considered False, so this line of code will execute")

else block: As None is considered False, so this line of code will execute



---

### üî§ Step 1: Literal ka matlab kya hota hai?
**Literal** ka matlab hota hai:  
üìå **Jo cheez aap directly likhtay ho code mein** ‚Äî bina kisi variable ya function ke use ke.

Example:
```python
5      # ye ek literal hai
"hello"  # ye string literal hai
True     # boolean literal hai
```

---

### üî¢ Step 2: Integer literal kya hota hai?
**Integer literal** matlab:
üìå Aap jab **ek number seedha code mein likhtay ho** ‚Äî bina kisi calculation ke.

Example:
```python
x = 10  # yahan 10 ek integer literal hai
```

Yahan `10` wo number hai jo aap **direct likh rahe ho** ‚Äî is liye ye ek **integer literal** hai.

---

### ‚úÖ More Examples of integer literals:

```python
x = 0        # integer literal
y = -7       # negative integer literal
z = 123456   # big integer literal
```

Sab numbers jo aap seedha likhtay ho bina kisi expression ya calculation ke ‚Äî ye **integer literals** kehlatay hain.

---

### ‚ùå Not an integer literal:
```python
a = 5 + 3  # yahaan 8 literal nahi, result of an expression hai
```

Yahan `5` aur `3` to literals hain, **lekin `5 + 3` ka result `8`** directly literal nahi hai ‚Äî wo ek **evaluated value** hai.

---


---

### 1Ô∏è‚É£ **String Literal**:
**String literal** wo hota hai jo aap **directly** likhtay ho, jaise text ko quotation marks mein daalna.

Example:
```python
name = "Ali"  # "Ali" ek string literal hai
greeting = 'Hello!'  # 'Hello!' bhi string literal hai
```
Yahan `"Ali"` aur `'Hello!'` **string literals** hain, kyunki ye **direct text** hain.

---

### 2Ô∏è‚É£ **Float Literal**:
**Float literal** wo numbers hote hain jo **decimal point** ke sath hote hain.

Example:
```python
pi = 3.14   # 3.14 ek float literal hai
price = 99.99  # 99.99 bhi float literal hai
```
Yahan `3.14` aur `99.99` **float literals** hain, kyunki inmein decimal point hota hai.

---

### 3Ô∏è‚É£ **Boolean Literal**:
**Boolean literal** wo values hoti hain jo **True** ya **False** hoti hain.

Example:
```python
is_active = True    # True ek boolean literal hai
is_done = False     # False bhi boolean literal hai
```
Yahan `True` aur `False` **boolean literals** hain, jo logical values ko represent karte hain.

---

### üîÑ Recap:
- **Integer literal**: Bas numbers jo aap directly likhte ho, jaise `5`, `-3`.
- **String literal**: Text jo quotation marks mein likhte ho, jaise `"hello"`, `'world'`.
- **Float literal**: Numbers jo decimal point ke saath likhte ho, jaise `3.14`, `99.99`.
- **Boolean literal**: True ya False values, jaise `True`, `False`.

---

**Integer Literals in Python**
==========================

In Python, an integer literal is a sequence of characters that represents an integer value. Integer literals are used to define integer constants in Python code.

**Memory Space Sharing**
================================

In Python, integer literals can share the `same memory space` under certain conditions. This is due to a process called **`interning`**, where Python stores a pool of interned objects that can be reused when the same value is needed again.

Lets assign value to variable x, y & z

In [ ]:
x: int = 1
y: int = 1
z: int = x

print("Value of x = " + str(x) + ", and id(x) = " + str(id(x))) # when you need to concatinate any thing with string you need to first cast it to str()
print("Value of y = " + str(y) + ", and id(y) = " + str(id(y)))
print("Value of z = " + str(z) + ", and id(z) = " + str(id(z)))
print("id(x) == id(y) = ", id(x) == id(y) )
print("id(x) is id(y) = ", id(x) is id(y) ) # ;)

Value of x = 1, and id(x) = 10750856
Value of y = 1, and id(y) = 10750856
Value of z = 1, and id(y) = 10750856
id(x) == id(y) =  True
id(x) is id(y) =  False

**Integer Interning in Python**
-----------------------------

In Python, integers in the range *`-5 to 256`* are interned, meaning that they are stored in a `pool of interned objects`. This means that when you create an integer literal within this range, Python returns a reference to the existing object in the pool.



---

### üî¢ Step 1: Python mein numbers (integers) kya hotay hain?
Python mein jab hum koi number likhtay hain, jaise `a = 10`, to Python is number ke liye memory mein ek object banata hai.

---

### üîÅ Step 2: Lekin har dafa naye number ke liye nayi memory banana slow ho sakta hai  
Agar aap bar bar ek hi number likh rahe ho, jaise:

```python
a = 10
b = 10
```

To Python agar har bar naye object banaye, to yeh inefficient ho jata hai.

---

### üí° Step 3: Python ka smart tareeqa ‚Äî **interning**
Python kuch specific numbers ko **pehlay se hi memory mein rakh leta hai**, taake agar wohi number phir se likha jaye, to **same object ka reference** diya jaye. Isay kehtay hain **Integer Interning**.

---

### üìè Step 4: Kaunse numbers intern hotay hain?
Sirf ye range intern hoti hai:  
üëâ **`-5` se le kar `256` tak ke numbers**

Agar aap inhi numbers ka istemal karain:

```python
x = 100
y = 100
print(x is y)  # Output: True
```

Yahan `x` aur `y` dono **same object** ko point kar rahe hain, is liye `x is y` ‚ûù `True`.

---

### üö´ Step 5: Bahar walay numbers intern nahi hotay
Agar aap is range ke bahar koi number likho, to Python naya object banata hai:

```python
x = 1000
y = 1000
print(x is y)  # Output: False
```

Yahan `x` aur `y` alag alag objects hain, to `x is y` ‚ûù `False`.

---

### üîç Extra Tip: `is` vs `==`
- `==` ‚ûù value compare karta hai  
- `is` ‚ûù object identity compare karta hai (yaani memory location)

```python
a = 1000
b = 1000
print(a == b)  # True, kyun ke values same hain
print(a is b)  # False, kyun ke objects alag hain
```

---

In [ ]:
x = -6
y = -6
z = x

print("Value of x = " + str(x) + ", and id(x) = " + str(id(x)))
print("Value of y = " + str(y) + ", and id(y) = " + str(id(y)))
print("Value of z = " + str(z) + ", and id(z) = " + str(id(z)))

print("\n ===================== \n")

a = 257
b = 257
c = a

print("Value of x = " + str(a) + ", and id(a) = " + str(id(a)))
print("Value of y = " + str(b) + ", and id(b) = " + str(id(b)))
print("Value of z = " + str(c) + ", and id(c) = " + str(id(c)))

Value of x = -6, and id(x) = 133526994143664
Value of y = -6, and id(y) = 133526994150640
Value of z = -6, and id(y) = 133526994143664

 =====================

Value of x = 257, and id(a) = 133526994150128
Value of y = 257, and id(b) = 133526994151344
Value of z = 257, and id(c) = 133526994150128

Greenland Shark. Living in the waters of‚Äîyou guessed it‚ÄîGreenland, this shark lives for 300 to 500 years. It has the longest known lifespan of any vertebrate species

In [ ]:
shark1_age = 300
shark2_age = 300

print("Value of shark1_age = " + str(shark1_age) + ", and id(shark1_age) = " + str(id(shark1_age)))
print("Value of shark2_age = " + str(shark2_age) + ", and id(shark2_age) = " + str(id(shark2_age)))

if(shark1_age == shark2_age): #comparison by value
  print("shark1_age & shark2_age have same age")
else:
  print("shark1_age & shark2_age have different age")

print(" ===================== ")

if(id(shark1_age) == id(shark2_age)):#comparison by id()
  print("shark1_age & shark2_age have same id")
else:
  print("shark1_age & shark2_age have different id")

Value of shark1_age = 300, and id(shark1_age) = 133526994151600
Value of shark2_age = 300, and id(shark2_age) = 133526994146032
shark1_age & shark2_age have same age
 =====================
shark1_age & shark2_age have different id

# **Type Casting**
----------------

Type casting is the process of converting a value of one data type to another data type. Python supports several types of type casting, including:

1. **Implicit Type Casting**: Python automatically converts a value of one data type to another data type when necessary. For example, when you add an integer and a float, Python converts the integer to a float.
2. **Explicit Type Casting**: You can use functions like `int()`, `float()`, `str()`, and `bool()` to explicitly convert a value of one data type to another data type.

In [ ]:
i: int = 10
print("Value of i = " + str(i) + ",     Type of i = " + str(type(i)))

j: float = 20.6

f: float = i + j #Implicit Type Casting
print("Value of f = " + str(f) + ",   Type of f = " + str(type(f)))

f1: float = 66.89
print("Value of f1 = " + str(f1) + ", Type of i = " + str(type(f1)))

i1: int = int(f1) #When ever you type cast a float value into an integer it truncate
             #the decimal part and only keeps the whole number
print("Value of i1 = " + str(i1) + ",    Type of i = " + str(type(i1)))

s: str = "25.8"
f2: float = float(s)
print("Value of f2 = " + str(f2) + ",  Type of i = " + str(type(f2)))

#uncomment the below line of code to see error
#i2 = int(s) #correct this error by casting with float()
#print("Value of i2 = " + str(i2) + ", Type of i = " + str(type(i2)))

Value of i = 10,     Type of i = <class 'int'>
Value of f = 30.6,   Type of f = <class 'float'>
Value of f1 = 66.89, Type of i = <class 'float'>
Value of i1 = 66,    Type of i = <class 'int'>
Value of f2 = 25.8,  Type of i = <class 'float'>

**Truthy and Falsy Values in context of boolean data type**
-------------------------

In Python, some values are considered **truthy**, while others are considered **falsy**. Truthy values are treated as `True` in a boolean context, while falsy values are treated as `False`.

Here are some examples of truthy and falsy values:

* Truthy values:
	+ Non-zero integers (e.g., `1`, `2`, `-3`, etc.)
	+ Non-empty strings (e.g., `"hello"`, `"world"`, etc.)
	+ Non-empty lists (e.g., `[1, 2, 3]`, `["a", "b", "c"]`, etc.)
	+ Non-empty dictionaries (e.g., `{"a": 1, "b": 2}`, etc.)
* Falsy values:
	+ Zero (e.g., `0`)
	+ Empty strings (e.g., `""`)
	+ Empty lists (e.g., `[]`)
	+ Empty dictionaries (e.g., `{}`)
	+ `None`

In [ ]:
k: int = -9 #Any number either positive or negative, beside '0' ZERO is considered True
b: bool = bool(k)
print("Value of b = " + str(b) + ", Type of b = " + str(type(b)))

print("\n =================== \n")

if(k):
  print("""if block: This line of code will execute if we provide any integer value
          other then '0' ZERO""")
else:
  print("else block: As '0' is considered False, so this line of code will not execute")

print("\n =================== \n")

print("check: bool(\"55\")             = ", bool("55"))
print("check: bool(\"\")               = ", bool(""))
print("check: bool([1, 2, 3])        = ", bool([1, 2, 3]))
print("check: bool({\"key\", \"value\"}) = ", bool({"key", "value"}))

#Note: we will learn about list and dictionary in up comming classes
print("check: bool([])               = ", bool([])) #[] square brackets used to represent list
print("check: bool({})               = ", bool({})) #{} curly brackets used to represent dictionary

Value of b = True, Type of b = <class 'bool'>

 ===================

if block: This line of code will execute if we provide any integer value
          other then '0' ZERO

 ===================

check: bool("55")             =  True
check: bool("")               =  False
check: bool([1, 2, 3])        =  True
check: bool({"key", "value"}) =  True
check: bool([])               =  False
check: bool({})               =  False

**isinstance() Function in Python**
==================================

The `isinstance()` function in Python is used to check if an object (first argument) is an instance of a class (second argument). It returns `True` if the object is an instance of the class, and `False` otherwise.

**Syntax**
---------

The syntax of the `isinstance()` function is as follows:
```python
isinstance(object, classinfo)
```
Where:

* `object` is the object to be checked.
* `classinfo` is the class or a tuple of classes to check against.

In [ ]:
age: int = 20
weight: float = 66.89
print("check: isinstance(age, int)      = ", isinstance(age, int))
print("check: isinstance(weight, int)   = ", isinstance(weight, int))
print("check: isinstance(weight, float) = ", isinstance(weight, float))

check: isinstance(age, int)      =  True
check: isinstance(weight, int)   =  False
check: isinstance(weight, float) =  True


### **1. Numeric Types**
1. **What is the output of `type(3.14)` in Python?**  
   a) `<class 'int'>`  
   b) `<class 'float'>`  
   c) `<class 'complex'>`  
   d) `<class 'decimal'>`  
   **Answer:** b) `<class 'float'>`  
   **Explanation:** Numbers with decimal points are of type `float` in Python.

---

2. **Which of the following is a valid complex number in Python?**  
   a) `2 + 3i`  
   b) `2 + 3j`  
   c) `2 + j3`  
   d) `2i + 3`  
   **Answer:** b) `2 + 3j`  
   **Explanation:** In Python, the imaginary part is denoted with `j`, not `i`.

---

3. **What is the result of `z.real` if `z = 3 + 4j`?**  
   a) `3`  
   b) `4`  
   c) `3.0`  
   d) `4.0`  
   **Answer:** c) `3.0`  
   **Explanation:** The `real` attribute of a complex number returns a float.

---

4. **What is the value of `z.imag` if `z = 2 + 5j`?**  
   a) `2`  
   b) `5`  
   c) `2.0`  
   d) `5.0`  
   **Answer:** d) `5.0`  
   **Explanation:** The `imag` attribute returns the imaginary part as a float.

---

5. **Which function is used to check if a variable is of type `int`?**  
   a) `type()`  
   b) `isinstance()`  
   c) `checktype()`  
   d) `typeof()`  
   **Answer:** b) `isinstance()`  
   **Explanation:** `isinstance(var, int)` checks if `var` is an integer.

---

### **2. Boolean**
6. **What is the output of `bool(0)`?**  
   a) `True`  
   b) `False`  
   c) `None`  
   d) `Error`  
   **Answer:** b) `False`  
   **Explanation:** `0` is a falsy value in Python.

---

7. **Which of the following is considered `True` in a boolean context?**  
   a) `""`  
   b) `[]`  
   c) `1`  
   d) `None`  
   **Answer:** c) `1`  
   **Explanation:** Non-zero integers are truthy.

---

8. **What is the output of `bool("False")`?**  
   a) `False`  
   b) `True`  
   c) `None`  
   d) `Error`  
   **Answer:** b) `True`  
   **Explanation:** Non-empty strings are truthy, regardless of content.

---

9. **Which of the following is falsy?**  
   a) `"0"`  
   b) `[0]`  
   c) `{}`  
   d) `-1`  
   **Answer:** c) `{}`  
   **Explanation:** Empty dictionaries are falsy.

---

10. **What is the output of `bool(None)`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** b) `False`  
    **Explanation:** `None` is falsy.

---

### **3. Sequence Types (Strings, Lists, Tuples, Range)**
11. **Which of the following creates a multi-line string?**  
    a) `'Hello'`  
    b) `'''Hello'''`  
    c) `\"Hello\"`  
    d) `str('Hello')`  
    **Answer:** b) `'''Hello'''`  
    **Explanation:** Triple quotes allow multi-line strings.

---

12. **What is the output of `type([1, 2, 3])`?**  
    a) `<class 'tuple'>`  
    b) `<class 'list'>`  
    c) `<class 'array'>`  
    d) `<class 'set'>`  
    **Answer:** b) `<class 'list'>`  
    **Explanation:** Square brackets denote a list.

---

13. **Which of the following is immutable?**  
    a) List  
    b) Tuple  
    c) Set  
    d) Dictionary  
    **Answer:** b) Tuple  
    **Explanation:** Tuples are immutable.

---

14. **What does `range(1, 10, 2)` generate?**  
    a) `[1, 3, 5, 7, 9]`  
    b) `[1, 2, 3, 4, 5, 6, 7, 8, 9]`  
    c) `[2, 4, 6, 8]`  
    d) `[1, 3, 5, 7, 9, 11]`  
    **Answer:** a) `[1, 3, 5, 7, 9]`  
    **Explanation:** `range(start, stop, step)` generates numbers from `start` to `stop-1` with given `step`.

---

15. **What is the output of `type((1,))`?**  
    a) `<class 'int'>`  
    b) `<class 'tuple'>`  
    c) `<class 'list'>`  
    d) `<class 'set'>`  
    **Answer:** b) `<class 'tuple'>`  
    **Explanation:** A single-element tuple requires a trailing comma.

---

### **4. Set Types**
16. **What is the output of `{1, 2, 2, 3}`?**  
    a) `{1, 2, 2, 3}`  
    b) `{1, 2, 3}`  
    c) `{1, 2}`  
    d) `Error`  
    **Answer:** b) `{1, 2, 3}`  
    **Explanation:** Sets store unique values.

---

17. **Which of the following is mutable?**  
    a) `frozenset([1, 2])`  
    b) `{1, 2}`  
    c) `(1, 2)`  
    d) `None`  
    **Answer:** b) `{1, 2}`  
    **Explanation:** Sets are mutable, unlike `frozenset`.

---

18. **What is the output of `len({1, 1, 1})`?**  
    a) `1`  
    b) `3`  
    c) `0`  
    d) `Error`  
    **Answer:** a) `1`  
    **Explanation:** Sets store only unique elements.

---

19. **Which method adds an element to a set?**  
    a) `append()`  
    b) `add()`  
    c) `insert()`  
    d) `update()`  
    **Answer:** b) `add()`  
    **Explanation:** `add()` is used for sets.

---

20. **What is the output of `type(frozenset())`?**  
    a) `<class 'set'>`  
    b) `<class 'frozenset'>`  
    c) `<class 'tuple'>`  
    d) `<class 'list'>`  
    **Answer:** b) `<class 'frozenset'>`  
    **Explanation:** `frozenset` is an immutable set.

---

### **5. Mapping Type (Dictionary)**
21. **What is the output of `type({'a': 1})`?**  
    a) `<class 'list'>`  
    b) `<class 'dict'>`  
    c) `<class 'set'>`  
    d) `<class 'tuple'>`  
    **Answer:** b) `<class 'dict'>`  
    **Explanation:** Curly braces with key-value pairs denote a dictionary.

---

22. **Which of the following is a valid dictionary key?**  
    a) `[1, 2]`  
    b) `{'a': 1}`  
    c) `(1, 2)`  
    d) `{1, 2}`  
    **Answer:** c) `(1, 2)`  
    **Explanation:** Only immutable types can be dictionary keys.

---

23. **What is the output of `{} == dict()`?**  
    a) `True`  
    b) `False`  
    c) `Error`  
    d) `None`  
    **Answer:** a) `True`  
    **Explanation:** Both create empty dictionaries.

---

24. **How do you access the value for key `'a'` in `d = {'a': 1}`?**  
    a) `d[0]`  
    b) `d('a')`  
    c) `d['a']`  
    d) `d.a`  
    **Answer:** c) `d['a']`  
    **Explanation:** Dictionary values are accessed via keys in square brackets.

---

25. **What is the output of `len({'a': 1, 'b': 2})`?**  
    a) `1`  
    b) `2`  
    c) `0`  
    d) `Error`  
    **Answer:** b) `2`  
    **Explanation:** `len()` counts the number of key-value pairs.

---

### **6. Binary Types (Bytes, Bytearray, Memoryview)**
26. **What is the output of `type(b'Hello')`?**  
    a) `<class 'str'>`  
    b) `<class 'bytes'>`  
    c) `<class 'bytearray'>`  
    d) `<class 'memoryview'>`  
    **Answer:** b) `<class 'bytes'>`  
    **Explanation:** The `b` prefix denotes a bytes object.

---

27. **Which of the following is mutable?**  
    a) `bytes`  
    b) `bytearray`  
    c) `str`  
    d) `tuple`  
    **Answer:** b) `bytearray`  
    **Explanation:** `bytearray` is mutable, unlike `bytes`.

---

28. **What is the output of `bytearray([65, 66])`?**  
    a) `b'AB'`  
    b) `bytearray(b'AB')`  
    c) `[65, 66]`  
    d) `Error`  
    **Answer:** b) `bytearray(b'AB')`  
    **Explanation:** `bytearray` converts integers to corresponding ASCII characters.

---

29. **What does `memoryview(b'Hello')` return?**  
    a) A copy of the bytes object  
    b) A view of the bytes object  
    c) A list of integers  
    d) A string  
    **Answer:** b) A view of the bytes object  
    **Explanation:** `memoryview` provides a direct view of the data without copying.

---

30. **How do you convert `bytearray(b'AB')` to a string?**  
    a) `str(bytearray(b'AB'))`  
    b) `bytearray(b'AB').decode()`  
    c) `bytearray(b'AB').tostring()`  
    d) `bytes(bytearray(b'AB'))`  
    **Answer:** b) `bytearray(b'AB').decode()`  
    **Explanation:** `decode()` converts bytes/bytearray to a string.

---

### **7. None Type**
31. **What is the output of `type(None)`?**  
    a) `<class 'None'>`  
    b) `<class 'NoneType'>`  
    c) `<class 'null'>`  
    d) `<class 'object'>`  
    **Answer:** b) `<class 'NoneType'>`  
    **Explanation:** `None` is of type `NoneType`.

---

32. **What is the output of `None == False`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** b) `False`  
    **Explanation:** `None` is not equal to `False`.

---

33. **What is the output of `bool(None)`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** b) `False`  
    **Explanation:** `None` is falsy.

---

34. **What is the output of `id(None) == id(None)`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** a) `True`  
    **Explanation:** `None` is a singleton object.

---

35. **What is the output of `None is None`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** a) `True`  
    **Explanation:** `None` is the same object everywhere.

---

### **8. Type Casting**
36. **What is the output of `int(3.9)`?**  
    a) `3`  
    b) `4`  
    c) `3.0`  
    d) `Error`  
    **Answer:** a) `3`  
    **Explanation:** `int()` truncates the decimal part.

---

37. **What is the output of `float('3.14')`?**  
    a) `3`  
    b) `3.14`  
    c) `'3.14'`  
    d) `Error`  
    **Answer:** b) `3.14`  
    **Explanation:** `float()` converts a string to a float.

---

38. **What is the output of `str(True)`?**  
    a) `'1'`  
    b) `'True'`  
    c) `True`  
    d) `Error`  
    **Answer:** b) `'True'`  
    **Explanation:** `str()` converts a boolean to its string representation.

---

39. **What is the output of `bool('False')`?**  
    a) `False`  
    b) `True`  
    c) `None`  
    d) `Error`  
    **Answer:** b) `True`  
    **Explanation:** Non-empty strings are truthy.

---

40. **What is the output of `list('Hello')`?**  
    a) `['H', 'e', 'l', 'l', 'o']`  
    b) `'Hello'`  
    c) `Error`  
    d) `None`  
    **Answer:** a) `['H', 'e', 'l', 'l', 'o']`  
    **Explanation:** `list()` splits a string into individual characters.

---

### **9. Integer Interning**
41. **What is the output of `id(5) == id(5)`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** a) `True`  
    **Explanation:** Small integers (`-5` to `256`) are interned.

---

42. **What is the output of `id(1000) == id(1000)`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** b) `False`  
    **Explanation:** Integers outside `-5` to `256` are not interned.

---

43. **What is the output of `a = 256; b = 256; a is b`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** a) `True`  
    **Explanation:** `256` is within the interned range.

---

44. **What is the output of `a = 257; b = 257; a is b`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** b) `False`  
    **Explanation:** `257` is outside the interned range.

---

45. **What is the output of `a = -5; b = -5; a is b`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** a) `True`  
    **Explanation:** `-5` is within the interned range.

---

### **10. Miscellaneous**
46. **What is the output of `isinstance(True, int)`?**  
    a) `True`  
    b) `False`  
    c) `None`  
    d) `Error`  
    **Answer:** a) `True`  
    **Explanation:** `bool` is a subclass of `int`.

---

47. **What is the output of `type(range(5))`?**  
    a) `<class 'list'>`  
    b) `<class 'range'>`  
    c) `<class 'tuple'>`  
    d) `<class 'generator'>`  
    **Answer:** b) `<class 'range'>`  
    **Explanation:** `range()` returns a `range` object.

---

48. **What is the output of `chr(65)`?**  
    a) `'A'`  
    b) `65`  
    c) `'65'`  
    d) `Error`  
    **Answer:** a) `'A'`  
    **Explanation:** `chr()` converts an ASCII code to its character.

---

49. **What is the output of `ord('A')`?**  
    a) `'A'`  
    b) `65`  
    c) `'65'`  
    d) `Error`  
    **Answer:** b) `65`  
    **Explanation:** `ord()` returns the ASCII code of a character.

---

50. **What is the output of `hex(255)`?**  
    a) `'0xff'`  
    b) `255`  
    c) `'255'`  
    d) `Error`  
    **Answer:** a) `'0xff'`  
    **Explanation:** `hex()` converts an integer to a hexadecimal string.

---

51. **What is the output of `oct(8)`?**  
    a) `'0o10'`  
    b) `'10'`  
    c) `8`  
    d) `Error`  
    **Answer:** a) `'0o10'`  
    **Explanation:** `oct()` converts an integer to an octal string.

---

52. **What is the output of `bin(5)`?**  
    a) `'0b101'`  
    b) `'101'`  
    c) `5`  
    d) `Error`  
    **Answer:** a) `'0b101'`  
    **Explanation:** `bin()` converts an integer to a binary string.

---